<h2>Deducción</h2>

<p>Resultado esperado:
  {{#if editandoResultado}}
    {{input value=resultadoEsperado placeholder="Agregar una fórmula..."}}
    <button {{action 'actualizarResultado'}}>Guardar</button>
  {{else}}
    <span>{{resultadoEsperado}}</span>
    <button {{action 'editarResultado'}}>Editar</button>
  {{/if}}
</p>

<ol>
  {{#each pasos as |paso|}}
    <li>{{paso.formula}} : {{paso.motivo}}</li>
  {{/each}}
</ol>

{{input value=formula placeholder="Agregar una fórmula..."}}
<select onchange={{action (mut motivo) value="target.value"}}>
  <option value="premisa" selected="selected">Premisa</option>
  <option value="supuesto">Supuesto</option>
  {{#if (gt cantidadDePasos 0)}}
    <option value="regla">Regla</option>
  {{/if}}
</select>
<br>

{{#if (eq motivo "regla")}}
  <select onchange={{action (mut nombreRegla) value="target.value"}}>
    {{#each reglas as |regla|}}
      <option value={{regla.id}}>{{regla.nombre}}</option>
    {{/each}}
  </select>
  <select onchange={{action (mut parametro1) value="target.value"}}>
    {{#each (range 1 cantidadDePasos) as |opcion|}}
      <option value={{opcion}}>{{opcion}}</option>
    {{/each}}
  </select>
  <select onchange={{action (mut parametro2) value="target.value"}}>
    {{#each (range 1 cantidadDePasos) as |opcion|}}
      <option value={{opcion}}>{{opcion}}</option>
    {{/each}}
  </select>
  <select onchange={{action (mut parametro3) value="target.value"}}>
    {{#each (range 1 cantidadDePasos) as |opcion|}}
      <option value={{opcion}}>{{opcion}}</option>
    {{/each}}
  </select>
{{/if}}

<br>

<button {{action 'agregarPaso'}} disabled={{not formula}}>Agregar paso</button>
