<h2>Deducción</h2>

<p>Resultado esperado:
  {{input value=deduccion.resultadoEsperado placeholder="Agregar una fórmula..."}}
</p>

<ol>
  {{#each deduccion.pasos as |paso|}}
    <li>{{paso.formula}} : {{paso.motivo}}</li>
  {{/each}}
</ol>

{{input value=formula placeholder="Agregar una fórmula..."}}
<select onchange={{action (mut motivo) value="target.value"}}>
  <option value="premisa" selected="selected">Premisa</option>
  <option value="supuesto">Supuesto</option>
  {{#if (gt cantidadDePasos 0)}}
    <option value="regla">Regla</option>
  {{/if}}
</select>
<br>

{{#if (eq motivo "regla")}}
  <select onchange={{action (mut nombreRegla) value="target.value"}}>
    <option value="io" selected="selected">I v</option>
    <option value="eo">E v</option>
    <option value="iy">I ^</option>
    <option value="ey">E ^</option>
    <option value="ii">I -></option>
    <option value="ei">E -></option>
    <option value="in">I n</option>
    <option value="en">E n</option>
  </select>
  <select onchange={{action (mut parametro1) value="target.value"}}>
    {{#each (range 1 cantidadDePasos) as |opcion|}}
      <option value={{opcion}}>{{opcion}}</option>
    {{/each}}
  </select>
  <select onchange={{action (mut parametro2) value="target.value"}}>
    {{#each (range 1 cantidadDePasos) as |opcion|}}
      <option value={{opcion}}>{{opcion}}</option>
    {{/each}}
  </select>
  <select onchange={{action (mut parametro3) value="target.value"}}>
    {{#each (range 1 cantidadDePasos) as |opcion|}}
      <option value={{opcion}}>{{opcion}}</option>
    {{/each}}
  </select>
{{/if}}

<br>

<button {{action 'agregarPaso'}}>Agregar paso</button>
